################
# MERGE: union #
################

Changelog merge=union

################################
# HEADER_SPEC: LICENSE.Alias #
################################

dune-project header_spec=LICENSE.Alias
dune header_spec=LICENSE.Alias
dune-workspace header_spec=LICENSE.Alias

Make* header_spec=LICENSE.Alias

*.ml header_spec=LICENSE.Alias
*.mli header_spec=LICENSE.Alias

########################
# HEADER_SPEC: .ignore #
########################

# CI

/.gitlab-ci.yml header_spec=.ignore
/nix/ci.sh  header_spec=.ignore
/nix/*.nix header_spec=.ignore

# Doc

/Changelog header_spec=.ignore
README* header_spec=.ignore

# Git

.gitattributes header_spec=.ignore
.gitignore header_spec=.ignore
.gitkeep header_spec=.ignore
.git-blame-ignore-revs header_spec=.ignore

# Headers

/LICENSE.Alias header_spec=.ignore
/headers/open-source/* header_spec=.ignore
/headers/close-source/* header_spec=.ignore

# OCaml

/*.opam* header_spec=.ignore

#Tests

/tests/**/* header_spec=.ignore
