/* -------------------------------------------------------------------------- */
/* --- Styling Labels                                                     --- */
/* -------------------------------------------------------------------------- */

.dome-xLabel {
    padding: 2px ;
    margin: 2px 4px ;
}

.dome-xLabel .dome-xIcon {
    margin-right: 4px ;
}

.dome-xLabel.dome-text-descr {
    overflow: auto ;
}

/* -------------------------------------------------------------------------- */
