/* -------------------------------------------------------------------------- */
/* --- Box Containers                                                     --- */
/* -------------------------------------------------------------------------- */

.dome-xBoxes-hbox
{
    display: flex ;
    overflow: hidden ;
    flex-flow: row nowrap ;
    align-items: stretch ;
}

.dome-xBoxes-vbox
{
    display: flex ;
    overflow: hidden ;
    flex-flow: column nowrap ;
    align-items: stretch ;
}

.dome-xBoxes-grid
{
    flex: 1 1 auto ;
    overflow: auto ;
    display: grid ;
    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    align-items: stretch;
    align-content: start;
    justify-content: start;
}

/* -------------------------------------------------------------------------- */
/* --- Extensibility                                                      --- */
/* -------------------------------------------------------------------------- */

.dome-xBoxes-pack
{
    flex: 0 0 auto ;
    align-self: flex-start ;
}

.dome-xBoxes-box
{
    flex: 0 0 auto ;
}

.dome-xBoxes-fill
{
    flex: 1 1 auto ;
}

.dome-xBoxes-scroll
{
    flex: 1 1 auto ;
    overflow: auto ;
}

.dome-container > .dome-xBoxes-fill
{
    width:  100% ;
    height: 100% ;
}

.dome-container > .dome-xBoxes-scroll
{
    width:  100% ;
    height: 100% ;
}

/* -------------------------------------------------------------------------- */
/* --- Spaces                                                             --- */
/* -------------------------------------------------------------------------- */

.dome-xBoxes-space
{
    flex: 0 1 24px ;
}

.dome-xBoxes-filler
{
    flex: 1 1 24px ;
}

/* -------------------------------------------------------------------------- */
