/* -------------------------------------------------------------------------- */
/* ---  XSplitter Style Sheet                                             --- */
/* -------------------------------------------------------------------------- */

.dome-xSplitter-container {
    position: relative ;
    width: 100% ;
    height: 100% ;
}

.dome-xSplitPane {
    position: relative ;
}

.dome-xSplitter-grab {
    z-index: 1 ;
    position: relative ;
    border: 0 ;
}

.dome-xSplitter-h {
    left: -1px ;
    width: 3px ;
    height: 100% ;
    cursor: col-resize ;
}

.dome-xSplitter-v {
    top: -1px ;
    height: 3px ;
    width: 100% ;
    cursor: row-resize ;
}

.dome-xSplitter-no-cursor { }
.dome-xSplitter-h-cursor  { cursor: col-resize ; }
.dome-xSplitter-v-cursor  { cursor: row-resize ; }

.dome-window-active .dome-xSplitLine {
    background: #afafaf ;
}

.dome-window-inactive .dome-xSplitLine {
    background: #d6d6d6 ;
}

.dome-xSplitPane, .dome-xSplitLine {
    transition: all 0.1s ease-out ;
}

/* -------------------------------------------------------------------------- */
