/* -------------------------------------------------------------------------- */
/* --- Tabs & Tab Style Sheet                                             --- */
/* -------------------------------------------------------------------------- */

/* Tabs Bar */

.dome-xTabsBar {
    flex: 0 1 auto ;
    position: relative ;
    height: 20px ;
    width: calc( 100% + 1px ); /* hides last border */
    display: flex ;
    flex: row wrap ;
    border-width: 1px ;
    border-bottom-style: solid ;
}

/* Tab Content */

.dome-xTab-content {
    width: 100% ;
    height: 100% ;
}

/* Tab Item */

.dome-xTab {
    flex: 1 1 150px ;
    position: relative ;
    font-size: 10px ;
    text-align: center ;
    padding: 4px 20px 4px 20px ;
    border-color: inherit ;
    border-width: 1px ;
    border-top-style: none ;
    border-bottom-style: none ;
    border-left-style: none ;
    border-right-style: solid ;
}

.dome-window-inactive .dome-xTab.dome-inactive {
    color: #606060 ;
    border-color: inherit ;
}

.dome-xTab.dome-inactive:hover {
    background: #bababa ;
}

.dome-xTab.dome-inactive {
    color: #606060 ;
    border-color: #9c9c9c ;
    background: #b4b4b4 ;
}

.dome-window-inactive .dome-xTab.dome-inactive {
    color: #b0b0b0 ;
    background: #e6e6e6 ;
}

/* Closing Tab button */

.dome-xTab-closing {
    display: inline ;
    border-radius: 4px ;
    position: absolute ;
    width: 12px ;
    height: 12px ;
    padding: 2px ;
    top: 2px ;
    opacity: 0 ;
    transition: opacity .1s linear 0.1s , background .1s linear 0.1s ;
}

.dome-platform-darwin .dome-xTab-closing {
    right: initial ;
    left: 5px ;
}

.dome-xTab-closing {
    right: 5px ;
    left: initial ;
}

.dome-active .dome-xTab-closing:hover {
    background: #c0c0c0 ;
}

.dome-inactive .dome-xTab-closing:hover {
    background: #a0a0a0 ;
}

.dome-xTab:hover .dome-xTab-closing , .dome-xTab:hover .dome-xTab-closing
{
    opacity: 1 ;
}

/* -------------------------------------------------------------------------- */
