.cm-global-box {
  height: inherit;
  width: inherit;
  overflow: auto;
}

.cm-editor {
  background-color: var(--background-report);
  color: var(--text);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cm-editor .cm-gutters {
  border-right: 0px;
  width: 2.15em;
  background: var(--background-report);
}

.cm-property-gutter {
  width: 1.3em;
  background: var(--code-bullet);
}

.cm-hovered-code:hover {
  background-color: var(--code-hover);
}

.cm-selected-code {
  background-color: var(--code-select);
}

.cm-selected-code:hover {
  background-color: var(--code-select-hover);
}

.cm-dead-code { color: var(--dead-code); }
.cm-non-term-code { color: var(--dead-code); }

.cm-tainted {
  text-decoration: underline var(--warning) solid 1px;
  text-decoration-skip-ink: none;
  text-underline-position: under;
}

.cm-tooltip.cm-tainted-tooltip {
  background-color: var(--background-softer);
  color: var(--text-highlighted);
  border: 1px solid var(--background-profound);
  padding: 2px 7px;
  border-radius: 4px;
}

.cm-tooltip-above.cm-tainted-tooltip .cm-tooltip-arrow:before {
  border-top-color: var(--background-profound);
}

.cm-tooltip-above.cm-tainted-tooltip .cm-tooltip-arrow:after {
  border-top-color: var(--background-softer);
}

.cm-def { color: var(--codemirror-def); }

.cm-comment { color: var(--codemirror-comment); }
.cm-dead-code .cm-comment { color: inherit; }

.cm-type { color: var(--codemirror-type); }
.cm-dead-code .cm-type { color: inherit; }

.cm-number { color: var(--codemirror-number); }
.cm-dead-code .cm-number { color: inherit; }

.cm-keyword { color: var(--codemirror-keyword); }
.cm-dead-code .cm-keyword { color: inherit; }
