.cm-global-box {
  height: inherit;
  width: inherit;
  overflow: auto;
}

.cm-editor {
  background-color: var(--background-report);
  color: var(--text);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cm-hovered-code:hover {
  background-color: var(--code-hover);
}

.cm-selected-code {
  background-color: var(--code-select);
}

.cm-selected-code:hover {
  background-color: var(--code-select-hover);
}

.cm-dead-code {
  color: var(--dead-code);
}

.cm-non-term-code {
  color: var(--dead-code);
}

.cm-comment { color: var(--info-text); }
.cm-type { color: #bacd5f; }
.cm-number { color: #d3869b; }
.cm-keyword { color: #d84954; }
.cm-def { color: #0000ff; }
