.cm-global-box {
  height: inherit;
  width: inherit;
  overflow: auto;
}

.cm-editor {
  background-color: #1e2b3d;
  color: var(--text-discrete);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.cm-hovered-code:hover {
  background-color: var(--code-hover);
}

.cm-selected-code {
  background-color: var(--code-select);
}

.cm-selected-code:hover {
  background-color: var(--code-select-hover);
}

.cm-dead-code {
  color: var(--dead-code);
}

.cm-non-term-code {
  color: var(--dead-code);
}
