.sandbox-item {
    background: var(--lcd-button-background);
    border-radius: 4px;
    padding: 2px;
    margin: 2px;
    width: 100px;
    text-align: center;
}

.decoration {
    color: red;
    font-style: italic;
}

.cm-global-box .line-decoration {
    background: lightgreen;
}

.cm-global-box .hover {
    background: yellow;
}

.dome-xGraph-item-graph{
    color: var(--text);
    background-color:  var(--background-profound);
    
}
.dome-xGraph-item-graph .toolbar{
    text-align: right; 
}
