
/* -------------------------------------------------------------------------- */
/* --- SideBar                                                          --- */
/* -------------------------------------------------------------------------- */

.dome-xSideBar-double {
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
}

.dome-xSideBar-double-primary {
    min-width: 35px;
    max-width: fit-content;
}

.dome-xSideBar-double-primary-icon {
    margin: 5px;
    width: 25px;
    height: 25px;
}

.dome-xSideBar-double-primary-label {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
}

.dome-xSideBar-double-primary.dome-color-frame
{
    background: var(--background-intense) ;
}

