########################
# HEADER_SPEC: .ignore #
########################

/gen_api/Eva.header header_spec=.ignore
/Changelog_non_free header_spec=.ignore
/legacy/TOREMOVE header_spec=.ignore
/mthread/trie.ml header_spec=JCF_LGPL
/mthread/trie.mli header_spec=JCF_LGPL
