# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
# don't lint tsc output, if any
lib
# don't lint the generated API
src/api
# lint Dome step by step
src/dome/src/renderer/controls
src/dome/src/renderer/layout
src/dome/src/renderer/table
src/dome/src/renderer/data
