# --------------------------------------------------------------------------
# --- Template .gitignore file for Dome
# --------------------------------------------------------------------------

.ivette
.dome-*.stamp
.dome-*.back
node_modules
yarn-error.log
/bin
/dist
/doc/html

# --------------------------------------------------------------------------
