# --------------------------------------------------------------------------
# --- Template .gitignore file for Dome
# --------------------------------------------------------------------------

.dome-*.stamp
.dome-*.back
node_modules
yarn.lock
yarn-error.log
/bin
/dist
/build
/doc/html
/doc/typedoc

# --------------------------------------------------------------------------
