# --------------------------------------------------------------------------
# --- Template .gitignore file for Dome
# --------------------------------------------------------------------------

.ivette
.dome-*.stamp
.dome-*.back
.eslint-cache
node_modules
yarn.lock
yarn-error.log
/bin
/dist
/doc/html

# --------------------------------------------------------------------------
