/* -------------------------------------------------------------------------- */
/* --- Styling Values                                                     --- */
/* -------------------------------------------------------------------------- */

.eva-sized-area {
    padding: 3px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* -------------------------------------------------------------------------- */
/* --- Probe Panel                                                        --- */
/* -------------------------------------------------------------------------- */

.eva-probe {
    margin: 4px;
    width: 100%;
    display: flex;
}

.eva-probe-label {
    flex: 0 1 auto;
    min-width: 22px;
    text-align: right;
}

.eva-probe-code {
    flex: 0 1 auto;
    background: lightgrey;
    min-width: 120px;
    width: auto;
    border: thin solid black;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    overflow: hidden;
}

.eva-probe-stmt {
    flex: 0 0 auto;
    color: grey;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}

.eva-probe-button {
    flex: 0 0 auto;
    min-width: 16px;
}

/* -------------------------------------------------------------------------- */
/* --- Table Rows                                                         --- */
/* -------------------------------------------------------------------------- */

.eva-row {
    display: flex;
    flex: 0 1 auto;
    height: 100%;
    border-bottom: thin solid black;
    border-right: thin solid black;
}

.eva-probes .eva-row {
    border-top: thin solid black;
}

/* -------------------------------------------------------------------------- */
/* --- Table Cells                                                        --- */
/* -------------------------------------------------------------------------- */

.eva-cell {
    flex: 1 1 auto;
    border-left: thin solid black;
}

.eva-cell:nth-child(last) {
    border-left: none;
}

.eva-probes .eva-cell {
    padding: 2px;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/* --- Table Rows Background                                              --- */
/* -------------------------------------------------------------------------- */

.eva-probes .eva-row {
    background: #cbe4cb;
}

.eva-values .eva-row {
    background: #fff;
}

.eva-callstack .eva-row:nth-child(odd) {
    background: #d8edef;
}

.eva-callsatck .eva-row:nth-child(even) {
    background: #fff;
}

.eva-probes .eva-transient {
    background: orange;
}

.eva-values .eva-transient {
    background: #fff0d5;
}

.eva-probes .eva-focused {
    background: lightblue;
}

.eva-values .eva-focused {
    background: #def6ff;
}

/* -------------------------------------------------------------------------- */
