/* -------------------------------------------------------------------------- */
/* --- Styling Code Editors                                               --- */
/* -------------------------------------------------------------------------- */

.dome-xText {
    flex: 1 1 auto ;
    overflow: hidden ;
    position: relative ;
    fontSize: smaller ;
}

.dome-xText .CodeMirror {
    width: 100% ;
    height: 100% ;
}

.dome-xText-hover {
    background: lightgreen ;
}

.dome-xText-select {
    background: #ffda95 !important ;
}

.dome-xText-select.dome-xText-hover {
    background: orange !important ;
}

/* -------------------------------------------------------------------------- */
