##########################################################################
#                                                                        #
#  SPDX-License-Identifier LGPL-2.1                                      #
#  Copyright (C)                                                         #
#  CEA (Commissariat à l'énergie atomique et aux énergies alternatives)  #
#                                                                        #
##########################################################################

# Default font for all widgets The first existing font is used.
style "general" 
{
        font_name = "Sans"
}
widget "*" style "general"

# Style for widgets displaying source code.
style "monospace" 
{
        font_name = "Sans"
}
widget "*source" style "monospace"

