/Makefile
/.make-wp-coq
/.make-wp-why3
/.WP_API_GENERATED






/tests/*/oracle/dune
/tests/*/oracle_*/dune
/tests/*/result
/tests/*/result_*

/doc/*/.make-class
/doc/*/.make-icons
/doc/*/.make-images


