/Makefile
/.make-wp-coq
/.make-wp-why3
/.WP_API_GENERATED






/tests/ptests_config
/tests/*/result
/tests/*/result_*
/tests/*/*.sav
/tests/*/*.out

/doc/*/.make-class
/doc/*/.make-icons
/doc/*/.make-images


