########################################
# HEADER_SPEC: CEA_LGPL #
########################################

dune-project header_spec=CEA_LGPL
dune header_spec=CEA_LGPL

config* header_spec=CEA_LGPL
makefile* header_spec=CEA_LGPL
Make* header_spec=CEA_LGPL
*.mk header_spec=CEA_LGPL


*.c header_spec=CEA_LGPL
*.h header_spec=CEA_LGPL

*.htm header_spec=CEA_LGPL
*.html header_spec=CEA_LGPL

*.js header_spec=CEA_LGPL

*.ml header_spec=CEA_LGPL
*.ml.in header_spec=CEA_LGPL
*.mli header_spec=CEA_LGPL
*.mli.in header_spec=CEA_LGPL
*.mll header_spec=CEA_LGPL
*.mly header_spec=CEA_LGPL

*.xml header_spec=CEA_LGPL

*.pl header_spec=CEA_LGPL

*.py header_spec=CEA_LGPL

*.rc header_spec=CEA_LGPL

*.sh header_spec=CEA_LGPL
*.zsh header_spec=CEA_LGPL

*.css header_spec=CEA_LGPL

*.ts header_spec=CEA_LGPL
*.tsx header_spec=CEA_LGPL

########################
# HEADER_SPEC: .ignore #
########################

/*/tests/**/* header_spec=.ignore
