*~
/*.o
/*.cm*
/*.annot
/*_DEP
/configure
/config.log
/Makefile
/.depend
/local_config.ml
/config.status
/autom4te.cache
/ptests_local_config.ml
/configure.lineno
/share/*.cm*
/share/*.annot
/share/*_DEP
/share/e-acsl/*.cm*
/share/e-acsl/*.annot
/share/e-acsl/*_DEP
/doc/code
/doc/refman/*.out
/doc/refman/*.bbl
/doc/refman/*.blg
/doc/refman/*.id*
/doc/refman/*.aux
/doc/refman/*.cb*
/doc/refman/*.toc
/doc/refman/*.lo*
/doc/refman/*.inf
/doc/refman/*.ilg
/doc/refman/e-acsl*.tex
/doc/refman/framacversion.tex
/doc/refman/main.pdf
/doc/refman/*.bnf
/doc/refman/*.cm*
/doc/refman/transf
/doc/refman/transf.ml
/doc/refman/*.ind
/doc/userman/*.aux
/doc/userman/*.bbl
/doc/userman/*.blg
/doc/userman/*.ind
/doc/userman/*.ilg
/doc/userman/*.out
/doc/userman/*.cb*
/doc/userman/*.toc
/doc/userman/*.idx
/doc/userman/*.log
/doc/userman/*.lof
/tests/*.cm*
/tests/*.annot
/tests/*_DEP
/tests/test_config
/tests/e-acsl-runtime/*.cm*
/tests/e-acsl-runtime/*.annot
/tests/e-acsl-runtime/*_DEP
/tests/e-acsl-runtime/oracle/*.cm*
/tests/e-acsl-runtime/oracle/*.annot
/tests/e-acsl-runtime/oracle/*_DEP
/tests/e-acsl-runtime/result/*.cm*
/tests/e-acsl-runtime/result/*.annot
/tests/e-acsl-runtime/result/*_DEP
/tests/e-acsl-runtime/result/*.log
/tests/e-acsl-runtime/result/gen_*.c
/tests/e-acsl-runtime/result/gen_*.out
/tests/e-acsl-reject/*.cm*
/tests/e-acsl-reject/*.annot
/tests/e-acsl-reject/*_DEP
/tests/e-acsl-reject/oracle/*.cm*
/tests/e-acsl-reject/oracle/*.annot
/tests/e-acsl-reject/oracle/*_DEP
/tests/e-acsl-reject/result/*.cm*
/tests/e-acsl-reject/result/*.annot
/tests/e-acsl-reject/result/*_DEP
/tests/e-acsl-reject/result/*.log
/tests/bts/result/*
/tests/check/obj/*
.frama-c
tests/ptests_config
META.frama-c-e_acsl
