.make*
/feedback
/VERSION
/VERSION_CODENAME
/region.pdf
/*.log-file
/region.fls
/region.fdb_latexmk
/logos
/macros.tex
/anr-logo.png
/fc-macros.tex
/frama-c-book.cls
/cealistlogo.jpg
/*.synctex.gz
/images/*.pdf
!/images/*.dot
