/* -------------------------------------------------------------------------- */
/* --- Properties                                                         --- */
/* -------------------------------------------------------------------------- */

.code-column {
    margin: 0px;
    padding: 0px;
    display: block;
    text-overflow: ellipsis;
}

/* -------------------------------------------------------------------------- */
/* --- AST View                                                           --- */
/* -------------------------------------------------------------------------- */

.highlighted-marker {
    background-color: var(--highlighted-marker);
}

.dead-code {
    background-color: var(--dead-code);
    border-bottom: solid 0.1em var(--dead-code);
}

.non-terminating {
    border-bottom: solid 0.2em var(--non-terminating);
}

.bullet {
    width: 1.5em;
    background: var(--code-bullet);
}

/* -------------------------------------------------------------------------- */
/* --- Globals                                                            --- */
/* -------------------------------------------------------------------------- */

.globals-main label {
    text-decoration: underline;
}

.globals-stdlib label {
    font-style: italic;
}

.globals-attr {
    font-size: smaller;
    font-weight: lighter;
    color: #aaa;
}

/* -------------------------------------------------------------------------- */
/* --- Globals                                                            --- */
/* -------------------------------------------------------------------------- */

.message-search {
    padding: 4px 4px 4px 14px;
}

.message-search .dome-xForm-section {
    margin-top: 6px ;
    left: auto; /* Cancel dome left placement */
}

.message-search .dome-xForm-label {
    display: none; /* Hide label, only use placeholder */
}

.message-search .dome-xForm-field {
    margin: 0px 4px;
    display: inline-block;
    min-width: 80px;
}

.message-search .message-emitter-category {
    margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/* --- Messages                                                           --- */
/* -------------------------------------------------------------------------- */

.message-cell {
    user-select: text;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 98%;
}

.message-page {
    user-select: text;
    white-space: pre-line;
    background-color: var(--background-report);
}

/* -------------------------------------------------------------------------- */
/* --- Pivot table                                                        --- */
/* -------------------------------------------------------------------------- */

.pivot-centered {
    user-select: text;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 80%;
}

.pivot-centered .part {
    user-select: text;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.pivot-centered .dome-xButton-led {
    display: inline-block;
    vertical-align: baseline;
}

/* -------------------------------------------------------------------------- */
