/* -------------------------------------------------------------------------- */
/* --- Properties                                                         --- */
/* -------------------------------------------------------------------------- */

.code-column {
    margin: 0px;
    padding: 0px;
    display: block;
    text-overflow: ellipsis;
}

/* -------------------------------------------------------------------------- */
/* --- Lightweight Text Markers                                           --- */
/* -------------------------------------------------------------------------- */

.kernel-text {
  white-space: pre;
}

.kernel-text-marker:hover {
  background: lightgreen;
}
/* -------------------------------------------------------------------------- */
/* --- AST View                                                           --- */
/* -------------------------------------------------------------------------- */

.highlighted-marker {
    background-color: #FFFF66;
}

.hovered-marker {
    background-color: lightblue;
}

.dead-code {
    background-color: #BBB;
    border-bottom: solid 0.1em #BBB;
}

.non-terminating {
    border-bottom: solid 0.2em #BBB;
}

.bullet {
    width: 1.5em;
    background: #DDD;
}

/* -------------------------------------------------------------------------- */
/* --- Globals                                                            --- */
/* -------------------------------------------------------------------------- */

.globals-main label {
    text-decoration: underline;
}

.globals-stdlib label {
    font-style: italic;
}

.globals-attr {
    font-size: smaller;
    font-weight: lighter;
    color: #aaa;
}

/* -------------------------------------------------------------------------- */
/* --- Informations                                                       --- */
/* -------------------------------------------------------------------------- */

.astinfo-section {
    position: relative;
    overflow: hidden;
    padding-top: 1px;
    padding-bottom: 2px;
}

.astinfo-section.hovered {
    background: #ddd;
}

.astinfo-section.transient {
    background: #f5d69e;
}

.astinfo-folderbutton {
    flex: 0 0 auto;
}

.astinfo-markerbar {
    display: flex;
    overflow: hidden;
    padding-left: 4px;
}

.astinfo-markerkind {
    background: #b1c6dc;
    position: relative;
    top: -1px;
    border-radius: 2px;
    font-size: 7pt;
    padding: 2px;
    color: black;
    user-select: none;
    margin-right: 3pt;
}

.astinfo-markercode {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    cursor: default;
}

.astinfo-markerbutton {
    flex: 0 1 auto;
    position: relative;
}

.astinfo-infos {
    display: flex ;
    margin-top: 1px ;
    margin-bottom: 1px ;
}

.astinfo-kind {
    flex: 0 0 50px;
    text-align: right;
    margin-top: 1px;
    margin-right: 8px;
    color: #999;
    font-size: smaller;
}

/* -------------------------------------------------------------------------- */
/* --- Messages                                                           --- */
/* -------------------------------------------------------------------------- */

.message-search {
    padding: 4px 4px 4px 14px;
}

.message-search .dome-xForm-section {
    margin-top: 6px ;
    left: auto; /* Cancel dome left placement */
}

.message-search .dome-xForm-label {
    display: none; /* Hide label, only use placeholder */
}

.message-search input::placeholder {
    font-style: italic;
}

.message-search input {
    vertical-align: middle;
    margin: 2px 4px 2px 0px;
}

.message-search .dome-xForm-field {
    margin: 0px 4px;
    display: inline-block;
    min-width: 80px;
}

.message-search .message-emitter-category {
    margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
